{% macro render_domains(domains) %}
{% for domain in domains %}
{
  "comment": "{{ domain.comment }}",
  "name": "{{ domain.name }}",
  "key-name": "d2.sha512.key",
  "dns-servers": [
{% for dns in domain.dns_servers %}
    {
      "ip-address": "{{ dns['ip-address'] }}",
      "port": {{ dns.port | default(53) | int }}
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ]
}{% if not loop.last %},{% endif %}
{% endfor %}
{% endmacro %}

{% macro render_tsig_keys(tsig_keys) %}
{% for key in tsig_keys %}
{
  "name": "{{ key['name'] }}",
  "algorithm": "{{ key['algorithm'] }}",
  "secret-file": "{{ key['secret-file'] }}"
}{% if not loop.last %},{% endif %}

{% endfor %}
{% endmacro %}

{
  "DhcpDdns":
  {
    "comment": "{{ kea_ddns['comment'] | default('DDNS configuration for Kea DHCPv4') }}",
    "ip-address": "{{ kea_ddns['ip-address'] | default('127.0.0.1') }}",
    "port": {{ kea_ddns['port'] | default(53001) | int }},
    "dns-server-timeout": 1000,

    "user-context": { "version": 1 },

{% if kea_ctrl_agent_enabled %}
    // Create a socket which the Control Agent may use to communicate.
    "control-socket": {
        "socket-type": "unix",
        "socket-name": "/kea/sockets/ddns.socket"
    },
{% endif %}

    "forward-ddns":
    {
      "ddns-domains":
      [
{{ render_domains(kea_forward_ddns) | trim | indent(8, first=True) }}
      ]
    },

    "reverse-ddns":
    {
      "ddns-domains":
      [
{{ render_domains(kea_reverse_ddns) | trim | indent(8, first=True) }}
      ]
    },

    "tsig-keys":
    [
{{ render_tsig_keys(kea_tsig_keys) | trim | indent(8, first=True) }}
    ],

    "loggers": {{ kea_logging_raw_ddns | to_nice_json(indent=4, ensure_ascii=False ) | indent(8, False) }}
  }
}
